:root {
  --color-primary: #2e2c2d;
  --color-secondary: #148596;
  --cor-bg-primary: rgb(191, 191, 191);
  --cor-bg-secondary: rgb(12, 12, 12):
  --logo-primary: rgb(31, 83, 254);
  --logo-secondary: rgb(244, 235, 235);
  --box-shadow: rgb(19, 19, 19);
}